{% extends "base_page.html" %}
{% load static %}

{% block page_title %}
Изучать английский — это просто!
{% endblock %}

{% block page_lead %}
Это страничка отчетного проекта по курсу "Программирование на Python". 
Проект выполнен студентом группы М01-401д Зайкиным Кириллом Валерьевичем.
{% endblock %}

{% block content %}
<!-- Основной контейнер для контента -->
<div class="container px-4 py-5" id="project-contents">

    <!-- Заголовок раздела "Что есть в этом проекте" -->
    <h2 class="pb-2 border-bottom">Что есть в этом проекте</h2>

    <!-- Блоки с информацией о различных разделах проекта -->
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

        <!-- Словарь -->
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center flex-shrink-0 me-3" style="width: 60px; height: 60px;">
                <img src="{% static 'dictionary.svg' %}" alt="Словарь" width="40" height="40">
            </div>
            <div>
                <h3 class="fs-2">Словарь</h3>
                <p>Список основных слов с переводом</p>
                <a href="/terms-list" class="btn btn-primary">Посмотреть</a>
            </div>
        </div>

        <!-- Практика -->
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center flex-shrink-0 me-3" style="width: 60px; height: 60px;">
                <img src="{% static 'text.svg' %}" alt="Практика" width="80" height="80">
            </div>
            <div>
                <h3 class="fs-2">Практика</h3>
                <p>Попробуйте перевести текст</p>
                <a href="/texts-list/" class="btn btn-primary">Попробовать</a>
            </div>
        </div>

        <!-- Форма обновления словаря -->
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center flex-shrink-0 me-3" style="width: 60px; height: 60px;">
                <img src="{% static 'form.svg' %}" alt="Форма" width="40" height="40">
            </div>
            <div>
                <h3 class="fs-2">Форма обновления словаря</h3>
                <p>Если вы хотите добавить слово в словарь - заполните эту простую форму</p>
                <a href="/add-term" class="btn btn-primary">Заполнить</a>
            </div>
        </div>

        <!-- Тест -->
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center flex-shrink-0 me-3" style="width: 60px; height: 60px;">
                <img src="{% static 'test.svg' %}" alt="Тест" width="40" height="40">
            </div>
            <div>
                <h3 class="fs-2">Тест</h3>
                <p>Оцените свои способности - пройдите небольшой тест</p>
                <a href="/test-input/" class="btn btn-primary">Начать</a>
            </div>
        </div>

        <!-- Статистика -->
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center flex-shrink-0 me-3" style="width: 60px; height: 60px;">
                <img src="{% static 'stat.svg' %}" alt="Статистика" width="40" height="40">
            </div>
            <div>
                <h3 class="fs-2">Статистика</h3>
                <p>Сколько слов уже есть?</p>
                <a href="/stats" class="btn btn-primary">Изучить</a>
            </div>
        </div>

    </div>

    <!-- Заголовок второго раздела "Что можете сделать вы?" -->
    <h2 class="pb-2 border-bottom">Что можете сделать вы?</h2>

    <!-- Блок о том, что можно изучить словарь -->
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
        <div class="col-lg-4">
            <h4 class="py-1">Изучить словарь</h4>
        </div>
        <div class="col-lg-8">
            <p>Чтобы легко прочитать предложенные тексты и ответить на вопросы, вам стоит сначала ознакомиться со <span class="fst-italic">словарем</span>. Вам кажется, что он не полон — не беда. Вам поможет <a href="/add-term">форма обновления словаря</a>.</p>
        </div>
    </div>

    <!-- Блок о том, как попробовать прочитать несколько текстов -->
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
        <div class="col-lg-4">
            <h4 class="py-1">Попробуйте прочитать несколько текстов</h4>
        </div>
        <div class="col-lg-8">
            <p>Уверены в своих силах? Попробуйте прочитать несколько предложенных текстов и ответить на простые вопросы по ним.</p>
        </div>
    </div>

</div>
{% endblock %}
