{% extends "base_page.html" %}

{% load static %}

{% block page_title %}
    <div class="d-flex align-items-center">
        <img src="{% static 'form.svg' %}" alt="Добавить слово" width="100" height="100" class="me-2">
        Добавить слово
    </div>
{% endblock %}

{% block page_lead %}
Если вы считаете, что предложенный словарь не полон - добавьте новое слово и его перевод с помощью этой формы
{% endblock %}

{% block content %}
<!-- Контейнер для формы добавления термина -->
<div class="container-sm px-5 py-5" id="term-form">
    
    <!-- Начало формы -->
    <form method="post">
        
        <!-- Раздел для ввода контактных данных -->
        <div class="row px-5 py-2">
            <h3>Ваши контактные данные</h3>
        </div>
        <div class="row px-5 py-2">
            <div class="col-md-6">
                <label for="name">Ваше имя:</label>
                <input type="text" class="form-control input-lg" name="name" id="name" placeholder="Иван" value required>
            </div>
            <div class="col-md-6">
                <label for="email">Ваш контактный email:</label>
                <input type="text" class="form-control input-lg" name="email" id="email" placeholder="ivan@ivanov.com" value required>
            </div>
        </div>

        <!-- Раздел для ввода данных о термине -->
        <div class="row px-5 py-2">
            <h3>ваше слово</h3>
        </div>
        <div class="row px-5 py-2">
            <div class="col-md-4">
                <label for="new_term">Слово</label>
                <input type="text" class="form-control input-lg" name="new_term" id="new_term">
            </div>
            <div class="col-md-8">
                <label for="new_definition">Перевод</label>
                <textarea type="text" class="form-control input-lg" name="new_definition" id="new_definition" aria-describedby="definition_note" rows="3"></textarea>
                <div id="definition_note" class="form-text">Постарайтесь дать несколько толкований</div>
            </div>
        </div>

        <!-- Кнопка для отправки формы -->
        <div class="row px-5 py-2">
            <button type="submit" class="btn btn-primary" formaction="/send-term/">Отправить</button>
        </div>
    </form>
</div>
{% endblock %}
